Source: ubiankenstein
Section: misc
Priority: extra
Maintainer: Zultron <john@zutron.com>
Build-Depends:
    debhelper (>= 10),
Standards-Version: 2.1.0

Package: ubiankenstein
Provides:  linux-compiler-gcc-10-x86, firmware-linux-free
Depends:  gcc-10, linux-firmware
Architecture: amd64
Description: Install Debian kernel packages on Ubuntu
 .
 This package provides hacks to allow installing Debian
 linux-headers-* packages on Ubuntu.
 .
 This version works for Debian 11 Bullseye and Ubuntu 20.04 Focal.
